[2016-09-01 02:51] n-s-f opened #1 "Enable expect_called for multiple namespaced functions"
`stub` is already enabled for multiple namespaced functions, so this should just be a matter of plugging `expect_called` into that same mechanism.

[2016-10-21 13:22] n-s-f commented on #1
Done long ago

[2016-10-21 13:22] #1 closed

[2016-11-07 23:59] gaborcsardi opened #8 "How does it compare to testthat::with_mock?"
I am sorry, I know it is a stupid question. But could you please summarize how this is different? Maybe even in the README?

It is just hard for me to choose between them....

[2016-11-08 00:12] n-s-f commented on #8
@gaborcsardi That's a totally fair question.

There are a few differences.

The first thing to note is that with_mock uses C code to modify the stubbed-out function in place.

This has a few consequences. It means that for the duration of `with_mock`, the stubbed function is stubbed everywhere, for everything. There are some worlds in which this could get you in trouble, e.g. if you're parallelizi

[2016-11-08 00:26] gaborcsardi commented on #8
Thanks! I have a feeling that just manipulating the environment is fragile, tbh, and fails in some (admittedly somewhat unusual) situations. I haven't looked at your implementation, but here are some hard cases:

* Calling a function with `do.call("func", ...)`, `lapply("func", ...)`, etc.
* Modifying a function within the locked environment of a package.
* If the modified function uses the inject

[2016-11-08 01:56] n-s-f commented on #8
@gaborcsardi Thanks for the ideas!

`do.call` and `lapply` used in that way don't cause any problems - I've just added some test cases to demonstrate here: https://github.com/n-s-f/mockery/commit/0b7fbb7cbbb6fc0b9d463483c99fc7d5cdb48f66.

When you say `modifying a function within the locked environment of a package`, can you elaborate, or possibly even provide a sample use case you would expect to

[2016-11-09 18:35] lbartnik opened #9 "there is no way to mock-out a primitive"
Neither `with_mock` nor `stub` will let you mock-out R's `primitive`. Check out this package and sample tests there: https://github.com/lbartnik/mockExample

[2016-11-09 20:13] lbartnik commented on #9
here's an example of how to unlock an environment
https://gist.github.com/wch/3280369#file-unlockenvironment-r

[2016-11-09 20:42] lbartnik commented on #9
one should:

- find the function under test - we want to intercept calls originating from this function; name it X
- unlock environment which function X belongs to
- add a new entry in this unlocked environment named after the primitive we want to mock
- lock the environment

it can be done in pure R as well but requires additional environment:

- take a copy of function X
- put this copy in a new

[2016-11-09 21:26] n-s-f commented on #9
@lbartnik

Stub actually already works with this! Look at the error message from the test in your example from the stub test:

[code]

The only difference is the newline. `with_mock` actually does not work - it seems to think `interactive` is not a function.

[2016-11-09 21:28] n-s-f commented on #9
I also ran this little experiment in an interactive session:

[code]

[2016-11-09 21:30] n-s-f commented on #9
@lbartnik

It makes sense that this should work - we're actually just sticking a thing with the name `interactive` into the env in which the function is executing. When the function goes to call `interactive`, it immediately finds that thing before it even gets to find the primative. The fact that the name is shadowing a primative shouldn't matter at all.

[2016-11-09 21:37] n-s-f commented on #9
@lbartnik IActually I was wrong - the issue is not the newline. It turns out `expect_message` knows how to ignore the newline generated in the message.

The issue is that you've capitalized "World" is the test, but not in the actual code. If you fix that, then the `stub` test passes.

[2016-11-09 21:38] lbartnik commented on #9
Do you run it via Ctrl+T?

[2016-11-09 21:39] lbartnik commented on #9
Make sure you run this test in a non-interactive R session

[2016-11-09 21:45] n-s-f commented on #9
@lbartnik Yes, I still get that the test passes when I'm not running it in a interactive R session, once I've made the modification to the spelling.

I don't run via Ctrl + T - that doesn't work on my system. What error message do you get for the stub test when it fails?

[2016-11-09 21:52] lbartnik commented on #9
OK, you're right. I thought expect_* evaluated the call in an environment where the function wasn't changed. I need to look at the original code, maybe my example doesn't follow it close enough.

Also, if you want to replace that call for another function, let's say hello() calls world() and only in world() you check for the primitive, but test code calls hello() - in that case I believe world() w

[2016-11-09 21:52] n-s-f commented on #9
@lbartnik

Correct, the stubbing does not trickle down to lower function calls.

This is by design, though. I don't think it's good testing practice to stub something out several layers down. I think either the function 1 layer should be stubbed (in the case, `world`) rather than the function that function calls. If you want to test the `world` function, there can be a different test function that

[2016-11-09 21:54] n-s-f commented on #8
@gaborcsardi

One other difference you may be interested in, as per this thread https://github.com/n-s-f/mockery/issues/9, is that `stub` can stub out primatives, whereas `with_mock` cannot (despite the name of the issue).

[2016-11-09 22:05] gaborcsardi commented on #8
I want to mock `httr:::request_perform`, but I am not calling it directly in my code. `httr::GET` calls it, directly, but that is an implementation detail that ideally I would not rely on. Don't you then need to unlock `httr::GET`?

[code]

and I want to mock `c`. Not the internal `c`, the external one. This does not come up often, though.

TBH I think that manipulating environments to do the mock

[2016-11-09 22:05] n-s-f commented on #9
@lbartnik I'll close this issue, because stubbing primatives is possible. If you want to raise the possibility of changing the scope of the stubbing function, let's discuss offline or in a new issue.

[2016-11-09 22:05] #9 closed

[2016-11-09 22:22] n-s-f commented on #8
@gaborcsardi Not rude at all! I appreciate you taking the time to point out where you think there may be problems.

In this case, you don't want to mock out `httr::request_perform` directly, because `httr::GET` might use something else under the hood in the future and that would break your tests. It sounds like you want to just mock out `httr::GET`. Have I understood that correctly?

Stub works fi

[2016-11-09 22:30] gaborcsardi commented on #8
Well, you are right that this is internal knowledge. But still, my general problem is that I want to mock functions that I don't call directly. So what if I want to mock `httr::request_perform`?

[2016-11-10 04:35] lbartnik opened #10 "add in-place stub_primitive"
if one needs to replace (stub) a primitive in function pkg1::A that is called from pkg2::B neither `stub()` nor `with_mock()` will suffice

one way:

- find the function under test - we want to intercept calls originating from this function; name it X
- unlock environment which function X belongs to
- add a new entry in this unlocked environment named after the primitive we want to mock
- lock the

[2016-11-10 23:00] n-s-f commented on #8
@gaborcsardi  Ah, I see what you're saying. No, mockery cannot do that at the moment. That said, I don't tend to think mocking out code from within third-party libraries in your tests is good practice - mocking out your _call_ to the third party library in the first place seems safe in that it protects you from changes to the implementation.

I'll leave this issue open as a reminder to myself to w

[2016-11-10 23:03] n-s-f commented on #10
@lbartnik

Would you mind including a quick example test demonstrating what you'd like to do?

From what I understand, the case you're interested in is `yourfunc` calls `pkg2::B` calls `pkg1::A` calls some primative.  If that's the case, I have another question.  Why not just mock out the call to `pkg2::B`? When would it be essential to run that third-party code as part of your tests?

[2016-11-10 23:09] gaborcsardi commented on #8
Sure. Personally, I am not so concerned about this. This is _testing_ code. I would not do any kind of mocking in "real" code. If the testing code fails because of an implementation change, c'est la vie, I'll fix the tests. No real harm is done.

Anyway, there is some chance that  `with_mock` will be forbidden on CRAN, because it possibly breaks the JIT compiler, which will be turned on by default

[2016-11-15 13:05] gaborcsardi commented on #8
Thanks again for the answers!

[2016-11-15 13:05] #8 closed

[2016-11-15 13:49] gaborcsardi commented on #8
Btw. I am already making good use of `mockery`, so thanks much!
https://github.com/gaborcsardi/prettycode/blob/master/tests/testthat/test-print.R

[2016-11-23 13:12] gaborcsardi opened #13 "R6 methods, and functions called by R6 methods"
Stubbing does not seem to work for them. I'll add a reproducible example later, my current one is rather big....

[2016-11-23 15:06] gaborcsardi commented on #13
OK, I realize that this will never work, because you assign back the function to the calling environment, and the R6 method will be called from a different environment.

It is a pity, though.

[2016-11-23 18:02] n-s-f commented on #13
@gaborcsardi Thanks for filing this bug report!

I'd still be interested in looking into this.

Consider this: we assign the function that points to the mock function to the environment that the R6 method is called from, but we add some code to that function so that when it's done executing once (or a user-chosen number of times) it removes itself from the calling environment and reinstates the or

[2016-11-24 09:31] gaborcsardi commented on #13
I think this is error prone, because if an error happens (e.g. a test case fails), the mock function will not be called the requested number of times (or at all).

It is also different from what you have now, so it would be confusing.

[2016-11-24 13:34] n-s-f commented on #13
I agree on both counts. I wouldn't put this in unless I can find a way around the first issue, and I believe the confusion can be minimized in the code. The interface to the user shouldn't change at all, modulo perhaps an optional parameter to `stub`.

[2016-11-25 13:49] n-s-f commented on #13
@gaborcsardi

So there are actually a few reasonable-ish ways of dealing with this.

To mock out calls to R6 methods from other functions, we can mock out the `$` primative in the calling function so that the call to the R6 method is mangled into something that can be easily mocked (and all other usages of `$` remain unchanged). This is very similar to what we do with `::`, and can be done reliabl

[2016-11-25 14:03] n-s-f commented on #13
Here are the test cases I'll be working from https://github.com/n-s-f/mockery/blob/380d81e1439969908a767e484939450b17b1b9ad/tests/testthat/test_stub.R#L197-L230

Let me know if your use-case is not covered by those.

[2016-11-25 14:06] gaborcsardi commented on #13
Thanks! My use case is this I believe:
https://github.com/n-s-f/mockery/blob/380d81e1439969908a767e484939450b17b1b9ad/tests/testthat/test_stub.R#L207-L212

So it is covered.

[2016-11-26 13:58] n-s-f commented on #13
Great, so all tests are passing in this branch: https://github.com/n-s-f/mockery/tree/r6-stubbing-nsf

However I still want to clean up the code (I introduced some duplication) and add some more tests around the edge cases, so I'll probably merge this next weekend.

Incidentally, I found some very strange behavior in R such that unless [this line](https://github.com/n-s-f/mockery/blob/r6-stubbing-

[2016-11-26 14:46] gaborcsardi commented on #13
Cool. I'll test it later today.

As for the mysterious line, it is because of the lazy evaluation of
function arguments.

On 26 Nov 2016 13:58, "Noam Finkelstein" <notifications@github.com> wrote:

[2016-12-03 12:48] n-s-f commented on #13
@gaborcsardi Did you have any issues with this? I'm planning on merging later today.

Thanks.

[2016-12-03 13:16] gaborcsardi commented on #13
Haven't tried yet, sorry. I'll try later today.

[2016-12-03 14:11] n-s-f commented on #13
No problem, thanks. I just found a minor bug I'm working through as well, so no rush.

[2016-12-03 14:37] n-s-f commented on #13
That bug is gone. If you have a chance to test it for your use case today, merge the code after that. Otherwise I'll merge it at the end of the day.

Thanks again for letting me know about the missing feature!

[2016-12-03 14:39] n-s-f opened #15 "Rename `expect_no_calls` to `expect_called`"
@lbartnik

I believe we originally renamed this to avoid a naming conflict with my function of the same name.

However I think that function is superflous given the mock objects. I am removing it in this pull request: https://github.com/n-s-f/mockery/pull/14

Therefore I'd like to rename the `expect_no_calls` method on the mock objects back to `expect_called`, which I think is much clearer.

Would

[2016-12-03 22:59] gaborcsardi commented on #13
So, how do you actually restore the original state?

[2016-12-04 02:23] n-s-f commented on #13
The path I went with is that I don't change the state. Instead I stub the `$` operator out in the env of the test to mangle the name before evaluating the function call, and I insert a function with the mangled name (with the appropriate function mocked out) back into the test env.

[2016-12-04 02:24] n-s-f commented on #13
I'm going to merge the code above. If it solves your use case, please close the issue. Otherwise please elaborate further.

Thanks!

[2016-12-05 05:32] lbartnik commented on #15
Hi Noam,
I believe this change is harmless.

[2016-12-05 11:29] n-s-f commented on #15
@lbartnik

Thanks. I'll rename shortly. That pull request got rid of the other `expect_called` function, so that it is possible to rename without naming conflicts.

[2016-12-10 02:40] #15 closed

[2016-12-15 11:01] n-s-f opened #17 "Allow user to specify depth of stubbing"
At the moment, the stub`stub` function only stubs out the function to be stubbed if it is directly called from the target function.

We should introduce an optional parameter to `stub` that allows the user to specify how deep they want to the stub to be active. E.g. a `stub(some_func, 'other_func', 100, depth=2)` would indicate that `other_func` should be stubbed with something that returns 100 no

[2016-12-17 14:36] n-s-f commented on #17
This is currently under development at https://github.com/n-s-f/mockery/tree/depth-nsf

The code currently works as intended. I'll add a few more tests, especially around stubbing things out of what would appear to be locked environments.

[2016-12-17 14:52] n-s-f commented on #17
Note to self: add test case for a function that calls the stubbed function directly and also calls a function that then calls the stubbed function.

May need to include parent _names_ and get the parent envs dynamically here https://github.com/n-s-f/mockery/blob/depth-nsf/R/stub.R#L91-L107 instead of storing the envs directly in the _depths_ list, because some of the envs will be swapped out.

[2016-12-17 15:05] n-s-f commented on #17
@n-s-f also think about speeding up the stubbing by collapsing the two loops into one and stubbing _as we go_ instead of building up a massive list and then processing it. Will be faster and more space efficient - might be relevant if the default ends up being stubbing all the way down.

[2017-07-04 17:35] frbl commented on #13
Sorry to reopen this issue, but I had some issues getting this to work on my own code. I've created a MWE in https://github.com/n-s-f/mockery/pull/18.

The thing is that the mocking works fine whenever you're not calling other objects from within the code. If you do call other objects, for some reason it can't find them (hence the failing specs). Note the print statement in the spec in the PR. Its

[2017-07-04 22:04] n-s-f commented on #13
Thanks for opening the issue. I think this is solved by the code I developed for https://github.com/n-s-f/mockery/issues/17. If I recall, that code just needed a little bit of cleaning up. If you're up for looking through it, you can see if that solves your problem. Otherwise I'll take a closer look this weekend.

[2017-07-05 14:11] n-s-f commented on #13
This is a different problem than I thought. I will fix it in your pull request.

[2017-07-05 14:16] n-s-f commented on #13
@frbl This is fixed in https://github.com/n-s-f/mockery/pull/18.  Please verify that this resolved the problem. If so, please close this issue.

Thanks!

[2017-07-05 18:40] n-s-f commented on #13
I'm sorry - I was wrong about this again. The issue is that everything that uses `$` or `::` gets evaluated in the functions calling environment, where `object` doesn't exist. This is tricky because it's hard to gain access to the execution environment. I'll revert that pull request and think about this more over the weekend. Let me know if you have any ideas.

[2017-07-05 20:11] n-s-f commented on #13
Happy to report this is fixed on master. The relevant commit is https://github.com/n-s-f/mockery/commit/563b24f5886832602ab469c3e647d60d5082c234.

[2017-07-06 10:48] frbl commented on #13
Hi @n-s-f,

Thanks a lot for the super fast response. I will test it out as soon as possible, which is probably tomorrow, and I'll report back.

Thanks,
Frank

[2017-07-06 12:19] n-s-f commented on #13
Sounds good, thanks!

[2017-07-21 13:11] n-s-f commented on #13
@frbl Have you had a chance to see if this solves you problem? I think the tests I included are the same as the specs that failed in your example, but I'm curious if there are further issues.

[2017-07-25 19:15] frbl commented on #13
Hi @n-s-f, sorry for the super late response. I've finally tried it,   but it does not seem to work. However, it doesn't crash either (which it did do before). I'll try some different things now and see if I can find out what's wrong.

[2017-07-25 19:29] n-s-f commented on #13
@frbl Thanks for testing.

Would you mind adding some failing specs that demonstrate the issue?

I've just pushed a commit (https://github.com/n-s-f/mockery/commit/db24bc0b8bd80e4ff15c442b272ce2b9bb541d6f) that adds back the exact specs that you added in originally.

I can run these with no failures on master, so there must be some additional issue not covered by these specs.

Thanks.

[2017-07-25 19:30] frbl commented on #13
No there was something wrong in my code, and I fixed it. I removed my old comment, so never mind. It works :-)

[2017-07-25 19:32] n-s-f commented on #13
@frbl Great! Thanks for opening the issue.

[2017-07-25 19:32] #13 closed

[2017-10-17 16:56] patr1ckm commented on #17
Just wanted to +1 this, would be really convenient since we can't `with_mock` base functions in `testthat` anymore.

[2017-10-17 19:17] #10 closed

[2017-10-17 19:24] n-s-f commented on #17
@patr1ckm Thanks for reminding me of this.

I just updated the code I had written previously; it's available in this branch: https://github.com/n-s-f/mockery/tree/depth

Can you take a look at that code and see if it solves your problem? If so, great. If not, please let me know how it breaks.

I want to clean it up a little before merging into master. I also want to add a few more tests; it's a bi

[2017-11-07 13:57] n-s-f commented on #17
Done.

[2017-11-07 13:57] #17 closed

[2017-11-07 15:05] patr1ckm commented on #17
Thank you! Sorry I didn't have time to test.

[2017-11-07 15:14] n-s-f commented on #17
Sure!

Let me know if you have any issues with it - it's hard to test this deeply, there may be a bug in there somewhere.

[2017-12-09 08:58] infotroph opened #20 "stub effects outside intended context"
I'm not sure if this is one bug or several (or zero!), but these are three bits of behavior I wasn't expecting that all came up while debugging one issue in my own code, so here they are together.

1. Stubs with depth > 1 remain in effect outside the function that defined them:
[code]

2. Stubs with depth > 1 can affect calls not in `what`:
[code]

3. When stubs are called from within functions de

[2017-12-10 21:07] n-s-f commented on #20
@infotroph Thanks very much for writing up these examples.

I'm not sure I'll be able to provide fixes in the immediate future, but if you're up for the task of trying to write the fixes yourself I'd be happy to provide some pointers.  A great way to start would be to open up a new branch, add these test cases you've already written to the test suite, and see if you can get some of them to pass. I

[2017-12-11 01:18] infotroph commented on #20
@n-s-f In principle I'm interested in working on a fix -- it'd be a good way to improve my understanding of how environments interact -- but not sure when I'll have bandwidth to tackle it. Once I get as far as a branch, I'll report back here.

[2017-12-11 01:18] infotroph commented on #20
Meanwhile, for the third case I think I wrote my test case around a different issue I hadn't identified at the time, which is that stubbing namespaced calls doesn't seem to work at depth > 1:

[code]

In my current project I worked around this by using a really ugly [nested stub call](https://github.com/PecanProject/pecan/blob/362a81a1a365e1077e47e4377f266b2f07f107a8/models/biocro/tests/testthat/t

[2018-06-14 21:23] kenahoo opened #21 "Docs for R6 stubbing"
I see that there's a closed ticket (#13) for mocking R6 objects and their methods.  I'm not quite sure how to use this, though, could some docs be added?

Specifically, when I call function `func` below, I'd like to mock the class `MyClass` so that an object of that class has no-op methods automatically stubbed, and I can inspect (after the fact) when they're called.

[code]

Is this a supported u

[2018-06-19 17:58] csdesml commented on #21
No, this is not a supported use case. If you're creating the object in the function instead of passing it in, we cannot then pull it out (unless you stub the `MyClass$new()` method in `func`'s scope to return some mock class, which is doable but I think not what you're asking).

What you can do is pass `obj` in as an argument, in which case this becomes doable.

[code]

Please see the read me for

[2018-06-19 19:53] kenahoo commented on #21
Thanks for the response.  I'm flexible about how I approach this, just trying to figure out what the options are.

Stubbing `MyClass$new` was one of the options I tried, but I couldn't make the pieces fit together successfully.

I'm experimenting with something similar to your suggestion now - I added an argument to `func`, defaulting to `MyClass`, that gives the class (or whatever R6 calls its ob

[2018-06-19 20:05] csdesml commented on #21
If you provide your attempts to stub `MyClass$new`, I may be able to help you get that approach to work.

[2018-06-26 23:57] kjohnsen opened #23 "Double colon stubbed function name + double colon assignment = cryptic parsing bug"
I wish I could have crafted a more comprehensible title, but this is a weird bug. Here's a reproducible example:

[code]

The indicated line produces the following error:
[code]

I found this bug in testing my own package, where another `<package>::function<-` statement (not `base::names<-`) gave me the same "unexpected end of input" error. It took me a while to even figure out it was mockery that

[2018-07-17 17:55] #21 closed

[2018-07-17 17:59] csdesml commented on #23
@kjohnsen

Thanks for finding this bug and writing it up.  It turns out to happen whenever something is assigned to a function call. I haven't quite figured out why, except that something about how we're mangling names allows the original function to be called, but not called then assigned to. To be honest I've never been a fan of assigning to function calls.

I don't have the bandwidth to figure

[2018-07-25 02:32] kjohnsen commented on #23
Thanks for getting back. I wish I had time to work on a pull request, but I don't in the near future :(

Meanwhile I'm working around this by just importing the function into my package namespace so I don't have to use the double colon.

[2018-11-20 14:31] czeildi opened #25 "can we stub a function passed as parameter to another function?"
Some functions receive other functions as parameter. Is there a way to mock these? If not, it would be a nice feature to have.

In the example below I want to test that `call_twice` calls its argument twice.

[code]

Created on 2018-11-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-11-20 16:41] ivd commented on #25
@czeildi

If you are passing a function in as a parameter, you don't need to use the `stub` function.  Just pass in the mock.

i.e. delete

[code]

[2018-11-20 18:52] czeildi commented on #25
Thanks a lot!

[2018-11-20 18:52] #25 closed

[2019-01-16 15:51] CaboML opened #27 "Strange behavior when doing R CMD check"
After creating the stub and designing my tests with testthat, I run devtools::test() with everything OK.

But when I run devtools::check () all tests fail.

Do you have any idea?

[2019-01-16 16:40] ivd commented on #27
@CaboML Thanks for opening an issue. I can't reproduce this; can you paste your output from `devtools::check()`?

[2019-01-17 12:43] CaboML commented on #27
I realize that the problem, I was facing, does not have anything to do with mockery. Sorry

[2019-01-17 12:43] #27 closed

[2019-04-22 15:38] matthewcornell opened #29 "Trouble stubbing 2nd-level function that uses double colon for third call"
Hi Folks. (Sorry if the title is confusing - I didn't know what exactly to put.) I'm new to R and to mockery. Thanks for your work. After a lot of experimentation I've discovered behavior that seems like a bug to me, but it's entirely possible I'm missing something basic. It revolves around mocking a second-level function that calls another package's function using the double colon syntax to speci

[2019-04-22 16:30] nsfinkelstein commented on #29
Hello,

Thanks for the note. Please change
`mockery::stub(mockery_bug2, 'GET', "GET value", depth=2)`
to
 `mockery::stub(mockery_bug, 'GET', "GET value", depth=2)`
and let me know what happens.

You are calling `mockery_bug`, so you should be stubbing in `mockery_bug`. The depth=2 option should take care of ensuring the stub is active in all functions called from `mockery_bug`. Your current implem

[2019-04-22 16:37] matthewcornell commented on #29
Thanks. If I understand your comment correctly, I get the same results -  the actual GET is called:

[code]

[code]

[2019-04-22 16:46] nsfinkelstein commented on #29
I see. In this case you are stubbing 'GET', but calling the namespaced version 'httr::GET'. Can you try the same thing with

`mockery::stub(mockery_bug, 'httr::GET', "GET value", depth=2)`

or otherwise call the non-namespaced version in bug2.

thanks

[2019-04-22 16:54] matthewcornell commented on #29
Sorry, I should have said that was the first thing I tried. Same result - see code below. So is this a bug? I would have expected the below code to stub correctly - you too? I will stay with my initial workaround (not using the package name), but ideally including package name would work. (I like the idea of making package calls explicit like that - thought I read that recommendation in an R style

[2019-04-22 16:59] nsfinkelstein commented on #29
Yep, looks like a bug. Sorry about that. I'll take a look in the near future.

[2019-08-16 09:42] MichaelChirico opened #30 "depth not working? cannot change value of locked binding for '.onLoad'"
I have a package (https://github.com/MichaelChirico/geohashTools) where several functions rely on Suggested packages.

At the top of such functions, I do a `requireNamespace(pkg)` check & error if the Suggested package isn't installed.

Earlier, I was doing coverage tests for these by (e.g. for function `foo`)

[code]

There are enough functions like this now that I split off this test into a help

[2019-08-29 12:45] jimhester commented on #30
I am pretty sure that `stub(geohashTools:::check_suggested, "requireNamespace", FALSE)` would work, note the second argument should be the name of the function, not the function object, perhaps that was the issue.

[2019-08-29 15:22] #23 closed

[2019-08-29 15:39] jimhester opened #32 "Release mockery 0.4.2"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_mockery.html)
* [x] `devtools::check()`
* [x] `devtools::check_win_devel()`
* [x] `rhub::check_for_cran()`
* [x] `revdepcheck::revdep_check(num_workers = 4)`
* [x] Update `cran-comments.md`
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)

Submit to CRAN:

* [x] `

[2019-08-29 16:25] MichaelChirico commented on #30
I don't think so... see here:

https://github.com/MichaelChirico/geohashTools/pull/23

I `stub(geohashTools:::check_suggested)` and then run `expect_error` on a function (`gh_to_sp`) that calls `check_suggested`... not getting the expected error though.

[2019-08-30 14:07] jimhester commented on #30
[code]

Works for me with the current version of mockery, though it seems to persist beyond the test_that block so other tests later in the file then fail.

[2020-01-24 20:52] Blackglade commented on #20
was this ever resolved? Having the same issues

[2020-04-03 13:21] #32 closed

[2020-04-03 13:22] #30 closed

[2020-04-25 07:45] kos59125 opened #35 "mock missing arguments?"
I tried:

[code]

When I invoke `g()`, it returns NULL with no error.

With mock as the following, it raises an error:

[code]

[code]

It seems that mockery does not support missing arguments.

I suggest that mockery assert missing arguments using `alist` such as the following:

[code]

[2020-05-18 13:31] AlexandraKapp commented on #30
I get a similar error:

If I run the test with testthat::test() or testthat::test_package() it works just fine.
But when I run devtools::check() I get the error:

[code]

code (simplified):
[code]

Any idea how that could be fixed?

[2020-06-19 10:46] Toekan commented on #30
Encountering exactly the same problem. Mocking works without the `depth` parameter, but the moment I need depth value > 1 I get the above mentioned error. I'm using mockery 0.4.2, which seems to be the latest version?

Can we reopen this issue?

[2020-07-19 14:11] hadley opened #36 "Make website"

[2020-08-04 09:59] damianooldoni opened #37 "Multiple stubs"
First of all, `stub()` is wonderful! Easy to use, intuitive, just great. :clap:
I searched how to stub multiple functions and I was struggling on it. Then, I found it, just use `stub()` twice:

[code]
Is there a way to improve this? Allowing vectors for `what` and `how` maybe?
Something like:
[code]
Anyway, I think that adding a double stubbing example in documentation could help. What do you thin

[2020-08-04 13:09] jimhester commented on #37
Sure, sounds like a good idea to me, would you like to make a pull request adding the new example?

[2020-08-05 07:10] damianooldoni commented on #37
Ok. I'll do.

[2020-08-05 15:14] #37 closed

[2020-09-04 10:01] sambrightman commented on #30
I'm having the same issue and think this needs re-opening. @nsfinkelstein says in https://github.com/r-lib/mockery/issues/29#issuecomment-485467496 that second-level functions need to use `depth=2`. However, this issue means that using `depth=2` will break tests e.g. under `covr` or `R CMD check`.

[2020-09-05 14:50] sambrightman commented on #30
For my case, the stack trace indicates that a function is being assigned that is not the function being mocked. I'm not sure if this is expected behaviour.

[code]

Based on this stack trace, I think that `parent_env` here is that of the package under test and is therefore locked. I tried a quick workaround:

[code]

[2020-09-05 14:54] sambrightman commented on #30
It might be that some tests are missing too of course - it was [mentioned previously](https://github.com/r-lib/mockery/issues/17#issuecomment-267765998) that locked environment tests should be added and I think they are not.

[2020-10-01 14:52] aalucaci opened #40 "Mocking external functions in R6 classes when using expressions"
Hello,
in view of the 3rd edition of the testthat package, I currently try to see if I can replace `testthat::with_mock` with `mockery::stub`. I have the problem that I cannot mock external functions, which are called via expressions in a method of an R6 class.

The detailed example is given here:

[https://github.com/r-lib/testthat/issues/1185](https://github.com/r-lib/testthat/issues/1185)

Is t

[2020-11-26 15:09] nbenn opened #41 "`with_stubs()`/`local_stubs()`"
Now that `testthat`s own `with_mock()`/`local_mock()` are going the way of the dodo, I was wondering whether it might be useful to expand the API of `mockery` a bit. What I was having in mind, was something like

* `stubs()`: which basically does what was suggested in #37, i.e. provides a mechanism for stubbing out multiple functions, i.e. like

[code]

* `with_stubs()`/`local_stubs() `: maybe thi

[2020-11-27 03:05] 1beb opened #42 "mockery package not loaded by devtools::test()"
I tried adding the library call to:

/tests/testthat.R

However, the only way to get it to load is if it's an actual dependency in the description. Temporarily added this for development.

[2020-11-27 10:11] nbenn opened #43 "Stubbing out a function called within S3 dispatch"
I'm running into issues trying to mock a function with S3 dispatch involved. Consider the following setting:

[code]

I would now like to be able to call `gen(x)` is a test where `foo()` is stubbed out to avoid throwing the error. I assume this is currently not possible using `mockery::stub()`?

[code]

[2020-11-27 15:35] #41 closed

[2020-12-11 15:50] jimhester commented on #43
This limitation doesn't really seem to cause many issues in practice, you usually would mock the generic rather than a method.

[2020-12-11 17:42] #43 closed

[2020-12-11 18:02] nbenn commented on #40
@aalucaci I was also having issues with switching from `testthat::with_mock()` to `mockery::stub()` which ultimately led me to start working on [my own solution](https://github.com/nbenn/mockthat/). Using the current development version of `mockthat::with_mock()` should do what you want to:

[code]

This should be available from CRAN shortly, in case you're interested.

[2020-12-11 18:43] aalucaci commented on #40
@nbenn That's very good news, I kind of gave up hope that I'll ever receive an answer.

I tested your example and it works indeed as you said. Do you know when will your package be available on CRAN?

Kind regards,
Angela

[2020-12-13 14:05] nbenn commented on #40
@aalucaci v0.2.4 is now available for download from CRAN. I have already fixed a couple of things as v0.2.5 and I will submit that update to CRAN in ~2 weeks as to not overload the CRAN team. If you run into issue I'm happy to take them over at https://github.com/nbenn/mockthat/issues.

[2020-12-15 06:51] aalucaci commented on #40
@nbenn thank you for your reply. I'll use your package and come back to you in case of issues.

Closing now this issue, since thanks to you now I have a solution to my problem.

Thank you once again,
Angela

[2020-12-15 06:51] #40 closed

[2020-12-21 09:51] lorenzwalthert opened #44 "stubing does not propagate into partialised function"
Not sure there is a way to overcome this limitation but it would make the package more useful if you would allow to also mock functions that were partialised with purrr like this:
[code]

<sup>Created on 2020-12-21 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-12-21 12:51] lorenzwalthert commented on #44
Reference: https://github.com/krlmlr/mockr/issues/28

[2021-01-08 21:33] sgsmob commented on #20
+1

[2021-01-22 14:20] pwildenhain opened #45 "stub and mock functions fail in functions that use the magrittr pipe"
[code]

<sup>Created on 2020-12-01 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2021-03-26 19:47] kbaynes opened #46 "Multiple stub/mocks within a function fails at depth >= 2"
There appears to be a bug with r-lib/mockery `expect_called()` and `stub()` for multiple functions at depth >=2. `stub()` and `expect_called()` works as expected for multiple functions at a depth of 1. At depth >= 2, the first stubbed/mocked function (A) is called (works as expected), but the subsequent stubbed/mocked functions (B,C,...) are not called, instead the actual function is called. Eithe

[2021-03-27 11:47] kbaynes commented on #46
Adding the following test to r-lib/mockery/tests/testthat/test_stub.R demonstrates the behavior:

[code]

[2021-04-29 15:46] krystian8207 opened #47 "`stub` functions from `base` doesn't work when depth >= 2"
Thank you for the great package, it simplifies testing a lot!

Could you check the below example in which I faced an issue with mocking `base::sample` in nested function.

[code]

[code]

[2021-04-29 16:29] jimhester commented on #47
Seems like a duplicate of https://github.com/r-lib/mockery/issues/29 and https://github.com/r-lib/mockery/issues/46?

[2021-04-30 12:02] krystian8207 commented on #47
Yeah, you're right (especially #29) - sorry for opening duplicated issue.

Should we expect having this issue fixed in the nearest future?
If not, do you know any workarounds for making this work?

Thank you.

[2021-07-12 04:08] #42 closed

[2021-08-06 16:04] brianrepko opened #48 "mockery vs mockthat"
Hi @krlmlr - I'm wondering if you can share thoughts on `mockery` vs `mockthat` and which might become the "official" replacement for `testthat`'s dropping of mocking.

`mockery` seems to be already under `r-lib` so that has me thinking it is more "official" but `mockthat` has more recent  updates.

I'll post a similar issue for mockthat.

[2021-08-06 16:05] brianrepko commented on #48
https://github.com/nbenn/mockthat/issues/4

[2021-08-20 20:16] minimenchmuncher opened #49 "Stubbing out S4 methods"
I'm trying to test a package with a number of S4 generics and methods. Example code:

[code]

Tests using testthat:

[code]

The error I'm seeing is `Error: unable to find an inherited method for function 'readAFile' for signature '"character"`. I'm not entirely certain what's going on, but it looks like the stub is interfering with R's method dispatching.

[2021-09-08 00:33] jennybc opened #50 "Move `master` branch to `main`"
The `master` branch of this repository will soon be renamed to `main`, as part of a coordinated change across several GitHub organizations (including, but not limited to: [tidyverse](https://github.com/tidyverse), [r-lib](https://github.com/r-lib), [tidymodels](https://github.com/tidymodels), and [sol-eng](https://github.com/sol-eng)). We anticipate this will happen by the end of September 2021.

[2021-09-16 13:18] samssann opened #51 "How to stub Shiny observers?"
Is there way to stub something inside a shiny observeEvent? For example, in this imaginary example I want to stub the base rnorm function.

[code]

[2021-09-17 15:11] kenahoo opened #52 "Double-colon mocking not working at depth"
Here's my reprex, showing a failed attempt at mocking:

[code]

<sup>Created on 2021-09-17 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

If I change to mocking an imported function instead, it works as desired:

[code]

Alternatively, if I only need to go 1 level deep, **and I remove the `depth=5` argument**, it also works as desired:

[code]

If the `depth=5` argument is i

[2021-09-17 15:16] jimhester commented on #52
Seems to be a duplicate of https://github.com/r-lib/mockery/issues/29?

[2021-09-17 15:18] kenahoo commented on #52
I should mention: neither of those workarounds are great, because they both require changing the code that's being tested.  I'll probably go with the don't-use-double-colon workaround for now, though, because changing the structure would be quite a bit more invasive than that.

[2021-09-17 15:23] kenahoo commented on #52
@jimhester hmm, yes, it might be the same bug - somehow when I was debugging this yesterday, I saw #29 and managed to convince myself that's *not* what was happening, but right now it seems to be the same.

The other angle that comes to play here is whether or not the code being tested is in another namespace/package, and yesterday I thought that mattered, but today it seems to be the same bug in

[2021-09-17 17:41] jimhester commented on #52
Yeah, from just looking at the examples I think it looks to be the same issue.

[2021-09-29 18:42] jennybc commented on #50
GitHub's [support for default branch renaming](https://github.com/github/renaming#renaming-existing-branches) means that, in general, pull requests that target the default branch will be correctly re-targetted.

However, there are some edge cases, where this is not true. Some pull requests are automatically closed when the default branch is renamed and they cannot be re-opened. This happens when t

[2021-11-23 09:53] bedwards-mango opened #54 "`stub` unable to mock in this scenario"
Hello  Thank you for this package - I work on a project that writes unit tests and mocking can be incredibly useful. We recently transitioned to **mockery** after `testthat::with_mock` was deprecated.

We're struggling to adapt to **mockery** as we often encounter scenarios where it doesn't work - perhaps someone can offer some help?

Here is a reprex of a time where `mockery::stub` threw an error

[2021-11-29 20:40] jimhester opened #55 "Release mockery 0.4.3"
Prepare for release:

* [x] Check [current CRAN check results](https://cran.rstudio.org/web/checks/check_results_mockery.html)
* [x] [Polish NEWS](https://style.tidyverse.org/news.html#news-release)
* [x] `urlchecker::url_check()`
* [x] `devtools::check(remote = TRUE, manual = TRUE)`
* [x] `devtools::check_win_devel()`
* [x] `revdepcheck::revdep_check(num_workers = 4)`
* [x] Update `cran-comments.

[2021-11-30 16:14] gowerc opened #56 "Unintuative stub/mock behaviour"
I apologies in advance if this is "expected behaviour" or I am being dim but how `stub` and `mock` work doesn't seem that intuative to me :(

[code]

* How come the mocking was successful, the `f()` function is called at depth 4 so I wouldn't have expected `depth = 2` to have replaced it. If it is a global replace (at all depths) would it make more sense to convert this to a logical called `recurs

[2021-11-30 19:45] gowerc opened #57 "Mockery not cleaning up after itself properly"
Hi,

I'm really not sure what the exactly what is going here but I am running into a bug where due to a combination of using a package + exporting functions mockery isn't cleaning up after itself. I managed to create the smallest repex of the problem that I could manage here: https://github.com/gowerc/test-mockery

For reference the main unit tests in that repo are:

[code]

When calling `devtools

[2021-12-25 14:02] lorenzwalthert commented on #46
I agree. This is a major limitation.

[2022-01-19 14:18] andrewl776 opened #58 "Strange behaviour when stubbing R6 classes in global environment - stub affects non-stubbed functions"
[code]

<sup>Created on 2022-01-19 by the [reprex package](https://reprex.tidyverse.org) (v2.0.1)</sup>

[2022-02-15 08:39] njtierney commented on #30
@hadley do you know if there is a timeline on when this will be submitted to CRAN or if there is something we can help with?

It looks like it got a bit stalled at submitting to CRAN late last year (https://github.com/r-lib/mockery/issues/55)

Happy to help contribute if there's something I can help with!

[2022-02-15 13:18] hadley commented on #30
Sorry for missing this. I'll take it over.

[2022-02-15 13:25] njtierney commented on #30
Fantastic! Sorry to bother you on a closed issue, thank you for the swift reply!

[2022-02-15 13:26] njtierney commented on #57
I am getting similar behaviour here, with mockery leaking over into other parts of the code, which is causing many tests to fail in ways that they shouldn't

https://github.com/greta-dev/greta/runs/5197084911?check_suite_focus=true#step:12:2563

[2022-02-15 13:37] njtierney commented on #57
I've given a bit more detail in this RStudio Community post here: https://community.rstudio.com/t/mockery-stub-is-creating-mocking-functions-that-persist-into-other-tests/129259

[2022-02-20 13:25] hadley commented on #55
@njtierney done!

[2022-02-20 13:25] #55 closed

[2022-02-21 00:54] njtierney commented on #55
Fantastic!

[2022-03-09 10:04] MichaelChirico commented on #43
I just ran into this myself. It's not clear how to use `mockery` to replace `with_mock` here:

https://github.com/r-lib/lintr/blob/aafba478622c6f43c3fb329c69945c36a4d94b68/tests/testthat/test-ci.R#L47-L49

[code]

Both of the following failed:

[code]

[2022-03-11 10:39] nbenn commented on #43
@MichaelChirico I started to roll my own, as I was not happy with what {mockery} and {mockr} offered in terms of functionality: {[mockthat](https://nbenn.github.io/mockthat/)}. Has worked fine for my own use so far, but I'm sure there are edge-cases, that will break things for my approach too. Happy to take [feedback/issues/etc](https://github.com/nbenn/mockthat/issues/new/).

[2022-03-31 15:18] FlorianMyronStork commented on #57
@gowerc
Hi, I am using mockery only since a few months and never encountered such behavior.

Two suggestions:
1) Must it be called with `depth = 2`? If not, try to leave this argument alone.

2) I am not using `test_that("assumtion", {code}) semantics. I tend to use `describe("what to describe?", {it("does stuff", {code})})`

It's a bit more verbose, but maybe it's a bit safer with `mockery`

Does

[2022-03-31 15:46] FlorianMyronStork commented on #56
@gowerc I have an explanation for your issue, which might also solve this problem: https://github.com/r-lib/mockery/issues/57#issue-1067610442

When you manually load the functions `f, g, h, i` and `j` into your `.GlobalEnv`, then mockery does not clean this up. Those functions get somewhat changed permanently. (Don't know how this works)

If you instead use `devtools::load_all(*.*)` to load your

[2022-03-31 16:14] FlorianMyronStork opened #59 "mockery::mock() can't easily mock functions which defuse their arguments"
Hello guys,

I've encounteres the issue, that a mock-object, created by `mockery::mock()` can't handle functions which defuse their arguments:

[code]
If I now test my function without any arguments, the test passes without failure.
[code]

But, I test it with an argument given, I get this error.
[code]
The reason for this error might be found in `mockery::mock`
[code]

My workaround / solution to

[2022-08-03 18:04] gaborcsardi opened #61 "Better examples in README"
Would be nice. E.g. using function names that hint the roles of the functions, instead of `f` and `g`.

[2022-08-23 09:57] adamborondy opened #62 "stub depth > 1 not working for R6 classes"
I am trying to use `mockery::stub()` in combination with an R6 class, which works out fine for functions at a depth of 1. Here is a simplified R6 example:
[code]
I can successfully stub `self$add_y` like this:
[code]
However I cannot do the same for  `self$add_z` at a depth of 2. This results in an actual value of 5 as expected without stubbing:
[code]
I'm not sure if this feature is applicable to